.logo {
  max-width: max-content;
  padding-inline: 1rem;
  padding-top: 0rem;
  padding-bottom: .1rem;
  background-color: #fee801;
  border: 2px solid #fee801;
  color: #27292b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color .3s, color .3s;
}

.logo:hover {
  background-color: #27292b;;
  color: #fee801;
}

.logo i{
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.logo h2 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}