.producto {
  width: 17rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: .8rem;
  background-color: #27292b;
  color: #f5f5f5;
}

.producto img {
  max-width: 100%;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

.producto-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  padding: 1rem;
  margin-top: -.5rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

.producto-descripcion small {
  color: #f5f5f5;
}